{% extends "base.html" %}

{% block title %}Alle Rezepte  KochFreunde{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/recipes_style.css') }}">
{% endblock %}

{% block content %}
    
    <section class="recipe-list-section">
        <h2>Alle Rezepte</h2>

        {% if recipes %}
           {% if recipes | length == 1 %}
               <div class="recipe-grid single-recipe-grid">
           {% else %}
               <div class="recipe-grid">
           {% endif %}     

            {% for recipe in recipes %}
                <div class="card">
                    
                    <a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}" class="recipe-image-link">
                        {% set recipe_image = url_for('static', filename='recipe_pics/' + recipe.image_file) %}
                        <img src="{{ recipe_image }}" alt="Foto des Rezepts {{ recipe.title }}">
                    </a>
                    
                    <div class="recipe-info">
                        <a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}" class="recipe-title-link">
                            {{ recipe.title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
            
            {% else %}
           <p style="text-align: center; padding: 50px;">Es gibt keine Rezepte, die Ihrer Suche oder Ihren Filtern entsprechen.</p>
        {% endif %}
    </section>

{% endblock %}